<!-- -->
<ion-header>
  <ion-navbar>
    <button style="font-size: 20px" ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div ion-text class="icon-title"></div>
      <span class="text-primary">adio<strong>Sfax</strong></span>
    </ion-title>
    <ion-buttons end>

      <button style="font-size: 20px;margin-right: -10px;" ion-button tappable (click)="callJoint('74240262')" color="primary" >
        <ion-icon ios="ios-call" md="md-call"></ion-icon>
      </button>

      <button style="font-size: 20px" ion-button tappable  color="primary">
        <ion-icon name="notifications"></ion-icon>
      </button>
        <button *ngIf="Serveur ==='on'"  ion-button tappable  color="primary"><img src="./assets/imgs/iconfinder_server_accept_103334.png" alt="" style="width: 20px;float: left;"></button>
        <button *ngIf="Serveur ==='off'" ion-button tappable  color="red"><img  src="./assets/imgs/iconfinder_server_cancel_103336.png" alt="" style="width: 20px;float: left;"></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="animated fadeIn common-bg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tirer pour rafraîchir"
      refreshingSpinner="circles"
      refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>

  <!--list menu on the top-->
  <ion-slides pager="true" class="silde">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.src" alt="" >
    </ion-slide>
  </ion-slides>

  <div class="booking-card">
    <ion-grid class="card" col-md-12 col-lg-12 col-sm-12 >

        <ion-col class="no-padding" style=" margin-top: -7px; padding: 0px; ">
          <ion-searchbar  autocomplete="on" autocorrect="on" spellcheck="true" animated="true" placeholder="Recherche...."></ion-searchbar>

        </ion-col>

      <ion-card style="margin-top: 55px;">

        <ion-card-content>

            <div ion-text class="icon-title"></div>
            <span class="text-primary">adio<strong>Sfax</strong></span>
            <b class="titleLive"  >إذاعة صفاقس</b>

          <hr>
            <ion-row style="margin-bottom: -15px">
              <ion-col col-6>
            <p>La radio régionale n°1 de la ville de Sfax</p>
              </ion-col>
            <ion-col col-6>
            <button ion-button block color="primary" class="round" (click)="playStop()">
              <img item-end [src]="url" class="play" tappable >
              البث الحي
            </button>
            </ion-col>
            </ion-row>

        </ion-card-content>

      </ion-card>


      <ion-row>
        <ion-col col-6>
          <button ion-button block color="primary" class="round" tappable (click)="Music()">
            <img style=" margin-right: 6px; " src="./assets/heart.png" width="25px;" >
            Musique
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="primary" class="round" tappable (click)="dedicaces()">
            <img style=" margin-right: 6px; " src="./assets/picture.png" width="25px;" >
            Dédicace
          </button>
        </ion-col>

      </ion-row>

      <ion-row style=" margin-top: -30px; ">
        <ion-col >
          <button [disabled]="Serveur != 'on'"  ion-button block color="primary" class="round" tappable (click)="interversion()">
            <img  style=" margin-right: 6px; " src="./assets/picture.png" width="25px;" >
            intervention
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <hr class="secondary-bg quarter-op">
    <ion-item-group class="home-widget">
      <ion-item-divider color="primary">
        <h2 ion-text class="bold text-white" style="float: right;">
          فيديو

          <ion-icon name="pricetags"></ion-icon>
        </h2>
      </ion-item-divider>
      <ion-item >
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fradiosfax%2Fvideos%2F353993178740151%2F&amp;show_text=0&amp;width=560" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="false"></iframe>
      </ion-item>
      <ion-item >
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fradiosfax%2Fvideos%2F661259380941972%2F&amp;show_text=0&amp;width=560" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="false"></iframe>
      </ion-item>
      <ion-item >
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fradiosfax%2Fvideos%2F588869904843286%2F&amp;show_text=0&amp;width=560" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="false"></iframe>
      </ion-item>
      <ion-item >
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fradiosfax%2Fvideos%2F1731690186908062%2F&amp;show_text=0&amp;width=560" width="100%" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="false"></iframe>
      </ion-item>

    </ion-item-group>

  </div>


</ion-content>
