page-intervention {
  .video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
  }

  .row {
    margin-bottom: 20px;
  }
  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
